{% extends 'base.html' %}

{% block title %}
    Main page
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Welcome to our Service</h3>
    </div>
    <div class="container">
        <p>Our auto service provides a wide range of services to improve your car.
        With us you can make driving your car more comfortable and safe.
        We have only highly qualified employees with extensive experience,
        so we guarantee high quality and accuracy.</p>
    </div>
{% endblock %}